{% extends "admin/core/base.html" %}

{% block title %}Reports{% endblock %}
{% block title-section %}Reports{% endblock %}
{% block title-sub %}Lists available reports{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'reporting_index' %}">Reporting Index</a></li>
{% endblock %}

{% block body %}
    <div class="box">
        <div class="content">
            <div class="row expanded">
                <div class="large-6 columns">

                    <ul class="accordion" data-accordion>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Press Report</a>
                            <div class="accordion-content" data-tab-content>
                                <p>Shows information at the press level eg. most viewed paper, most viewed journal, submissions etc.</p>
                                <a href="{% url 'reporting_press' %}">View Report</a>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Journal Usage by Month Report</a>
                            <div class="accordion-content" data-tab-content>
                                <p>Shows journal usages (views and downloads) grouped by month.</p>
                                <a href="{% url 'reporting_journal_usage_by_month' %}">View Report</a>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Article Metrics</a>
                            <div class="accordion-content" data-tab-content>
                                <p>This report provides view and download metrics grouped by Article for a given Journal.</p>
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ journal_report_form }}
                                </form>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Production Times</a>
                            <div class="accordion-content" data-tab-content>
                                <p>This report provides average times for production tasks.</p>
                                <a href="{% url 'reporting_production' %}">View Report</a>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Geographical Spread</a>
                            <div class="accordion-content" data-tab-content>
                                <p>This report provides views and downloads grouped by country</p>
                                {% if request.user.is_staff  %}
                                <a href="{% url 'reporting_geo' %}">View Report by Press</a>
                                {% else %}
                                    Only staff can view the Press level report.
                                {% endif %}
                                {% if request.journal %}
                                <a href="{% url 'report_geo_journal' request.journal.pk %}"> View Report by Journal</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Peer Review Report</a>
                            <div class="accordion-content" data-tab-content>
                                <p>This report shows reviews and their time to completion.</p>
                                {% if request.journal %}
                                <a href="{% url 'reporting_review_journal' request.journal.pk %}">View Report</a>
                                {% else %}
                                    <small>
                                        <ul>
                                            <li><a href="{% url 'reporting_review' %}">View Report for All Journals</a>
                                            </li>
                                            {% for journal_ in journals %}
                                                <li><a href="{% url 'reporting_review_journal' journal_.pk %}">View
                                                    Report for {{ journal_.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </small>
                                {% endif %}
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Article Citations</a>
                            <div class="accordion-content" data-tab-content>
                                <p>This report shows article citations</p>
                                <a href="{% url 'report_citations' %}">View Report</a>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Article Authors</a>
                            <div class="accordion-content" data-tab-content>
                                <p>This report displays published articles by each author</p>
                                <a href="{% url 'report_authors' %}">View Report</a>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Journal Citations</a>
                            <div class="accordion-content" data-tab-content>
                                <p>This report shows journal citation totals</p>
                                <a href="{% url 'report_all_citations' %}">View Report</a>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Crossref DOI URLs</a>
                            <div class="accordion-content" data-tab-content>
                                <p>Generate a TSV file that can be shared with Crossref to bulk update URLs linked to DOIs stored in Janeway</p>
                                <a class="button" href="{% url 'reporting_crossref_dois' request.journal.pk %}">Download DOI Urls</a>
                                <p>Generate a TSV file that can be shared to bulk update Full-text URLs for updating CrossCheck</p>
                                <a class="button" href="{% url 'reporting_crossref_dois_crosscheck' request.journal.pk %}">Download Crosscheck URLs</a>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">License Report</a>
                            <div class="accordion-content" data-tab-content>
                                <p>This report shows the number of article using licenses between two dates.</p>
                                <a href="{% url 'reporting_license' %}">View Report</a>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="#" class="accordion-title">Workflow Report</a>
                            <div class="accordion-content" data-tab-content>
                                <p>This report provides average times for:</p>
                                <ul>
                                    <li>Submission to Acceptance</li>
                                    <li>Acceptance to Publication</li>
                                    <li>Submission to Publication</li>
                                </ul>
                                <p>Data is presented in a series of averages followed by a table of data.</p>
                                <a href="{% url 'reporting_workflow' %}">View Report</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
