{% extends "admin/core/base.html" %}

{% block title %}Reports{% endblock %}
{% block title-section %}{{ article.title }} Citation Report{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'reporting_index' %}">Reporting Index</a></li>
    <li><a href="{% url 'report_all_citations' %}">Journal Citations Report</a></li>
    <li><a href="{% url 'report_journal_citations' journal.pk %}">{{ journal.name }} Citations Report</a></li>
    <li><a href="{% url 'report_article_citing_works' journal.pk article.pk %}">{{ article.title }} Citations Report</a></li>
{% endblock %}

{% block body %}
    <div class="box">
        <div class="row expanded">
            <div class="large-2 columns">
                <div class="callout success">
                    <h4>Total Citations</h4>
                    <p>{{ article.citation_count }}</p>
                </div>
            </div>
        </div>
        <div class="row expanded">
            <table id="productionreport">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Journal</th>
                            <th>Year</th>
                            <th>DOI</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in article.articlelink_set.all %}
                            <tr>
                                <td>{{ link.article_title }}</td>
                                <td>{{ link.journal_title }}</td>
                                <td>{{ link.year }}</td>
                                <td><a target="_blank" href="https://doi.org/{{ link.doi }}">{{ link.doi }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    {% include "elements/datatables.html" with target="#productionreport" sort='2' order='desc' %}
{% endblock js %}