{% extends "admin/core/base.html" %}

{% block title %}{{ journal.name }} Usage Report{% endblock %}
{% block title-section %}{{ journal.name }} Usage Report{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'reporting_index' %}">Reporting Index</a></li>
    <li><a href="{% url 'reporting_articles' journal.pk %}">{{ journal.name }}
        Articles</a></li>
{% endblock %}

{% block body %}
    <div class="box">
        <div class="title-area">
            <h2>Filter by Dates</h2>
            <form method="POST">{% csrf_token %}
                <button class="button">Export to CSV</button>
            </form>
        </div>
        <div class="content">
            <div class="row expanded">
                <form method="GET">
                    {{ date_form.errors|safe }}
                    <div class="large-2 columns">
                        {{ date_form.start_date }}
                    </div>
                    <div class="large-2 columns">
                        {{ date_form.end_date }}
                    </div>
                    <div class="large-1 columns end">
                        <button class="button">Save</button>
                    </div>
                </form>
            </div>
            <div class="row expanded">

                <div class="large-2 columns">
                    <div class="callout success">
                        <h4>Articles</h4>
                        <p>{{ journal.article_set.count }}</p>
                    </div>
                </div>
                <div class="large-2 columns">
                    <div class="callout success">
                        <h4>Submissions</h4>
                        <p>{{ journal.submitted }}</p>
                    </div>
                </div>
                <div class="large-2 columns">
                    <div class="callout success">
                        <h4>Publications</h4>
                        <p>{{ journal.published }}</p>
                    </div>
                </div>
                <div class="large-2 columns">
                    <div class="callout success">
                        <h4>Rejections</h4>
                        <p>{{ journal.rejected }}</p>
                    </div>
                </div>
                <div class="large-2 columns">
                    <div class="callout success">
                        <h4>Views</h4>
                        <p>{{ journal.total_views }}</p>
                    </div>
                </div>
                <div class="large-2 columns">
                    <div class="callout success">
                        <h4>Downloads</h4>
                        <p>{{ journal.total_downloads }}</p>
                    </div>
                </div>

                <div class="large-12 columns">
                    <div class="title-area">
                        <h2>Published Articles</h2>
                    </div>
                    <table class="small" id="metricsreport">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th width="35%">Title</th>
                            <th>Section</th>
                            <th>Date Submitted</th>
                            <th>Date Accepted</th>
                            <th>Date Published</th>
                            <th>Days to Publication</th>
                            <th>Abstract views</th>
                            <th>HTML Views</th>
                            <th>PDF Views</th>
                            <th>PDF Downloads</th>
                            <th>Other Downloads</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.pk }}</td>
                                <td>{{ article.title|safe }}</td>
                                <td>{{ article.section.name }}</td>
                                <td>{{ article.date_submitted }}</td>
                                <td>{{ article.date_accepted }}</td>
                                <td>{{ article.date_published }}</td>
                                <td>{{ article.editorial_delta.days }}</td>
                                <td>{{ article.abstract_views|length }}</td>
                                <td>{{ article.html_views }}</td>
                                <td>{{ article.pdf_views }}</td>
                                <td>{{ article.pdf_downloads }}</td>
                                <td>{{ article.other_downloads }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include "elements/datatables.html" with target="#metricsreport" sort="desc" order=2 %}
{% endblock js %}
